@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
		/*background: #fff7e6 !important;*/

}
.bbMenu{	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;	
	text-decoration:none;
}
.bbMenu a:link {	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;	
	text-decoration:none;
}
.bbMenu a:hover{	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;	
	text-decoration:none;
}
.bbMenu a:visited {	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;	
	text-decoration:none;
}
.bbMenuBar {	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
	text-decoration:none;
	background: url(../images1/head_bg_submenu.gif);
}
.bbMenuBar a:link{	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
	text-decoration:none;
	background: url(../images1/head_bg_submenu.gif);
}
.bbMenuBar a:hover{	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #ff0000;	
	text-decoration:none;
	background: url(../images1/head_bg_submenu.gif);
}
.bbMenuBar a:visited{	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
	text-decoration:none;
	background: url(../images1/head_bg_submenu.gif);
}
.text12_white {	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;	
	text-decoration:none;
	padding-bottom: 3px;
}
.text12_black_bold {	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000000;	
	text-decoration:none;
	
}
.text12_black {	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;	
	text-decoration:none;
}
.text14_black {	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #000000;	
	text-decoration:none;
}
.text12_black_2 {	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;	
	text-decoration:none;
}
.text12_red_bold {	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #ff0000;	
	text-decoration:none;
	padding-top: 2px;
}
.text12_blue_bold {	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #000066;	
	text-decoration:none;
	padding-top: 2px;
}
.status_red{	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #CE0018;	
	text-decoration:none;
	padding-top: 2px;
}
.status_green{	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #257F17;	
	text-decoration:none;
	padding-top: 2px;
}
.status_gray{	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #3A5160;	
	text-decoration:none;
	padding-top: 2px;
}

.status_black{	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;	
	text-decoration:none;
	padding-top: 2px;
}

.text11_black {	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;	
	text-decoration:none;
}

.stlybar {
background: rgba(247,242,228,1);
background: -moz-linear-gradient(top, rgba(247,242,228,1) 0%, rgba(250,210,108,1) 50%, rgba(240,202,105,1) 51%, rgba(245,233,204,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,242,228,1)), color-stop(50%, rgba(250,210,108,1)), color-stop(51%, rgba(240,202,105,1)), color-stop(100%, rgba(245,233,204,1)));
background: -webkit-linear-gradient(top, rgba(247,242,228,1) 0%, rgba(250,210,108,1) 50%, rgba(240,202,105,1) 51%, rgba(245,233,204,1) 100%);
background: -o-linear-gradient(top, rgba(247,242,228,1) 0%, rgba(250,210,108,1) 50%, rgba(240,202,105,1) 51%, rgba(245,233,204,1) 100%);
background: -ms-linear-gradient(top, rgba(247,242,228,1) 0%, rgba(250,210,108,1) 50%, rgba(240,202,105,1) 51%, rgba(245,233,204,1) 100%);
background: linear-gradient(to bottom, rgba(247,242,228,1) 0%, rgba(250,210,108,1) 50%, rgba(240,202,105,1) 51%, rgba(245,233,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f2e4', endColorstr='#f5e9cc', GradientType=0 );

	color: #000000;	

}